/* Establishes color scheme throughout site. */
:root {
    --primary: rgb(124, 60, 153);
    --secondary: rgb(107, 39, 39);
    --tertiary:#fff;
}

/* Removes underline automatically applied to hyperlinks. */
a {
    text-decoration: none;
}

body {
    background-color: #fff;
    font-size: 1em;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 5em;
    margin: auto;
}

.high-score {
    float: left;
    margin: 1em 2em;
    color: var(--primary);
    font-size: 1.5em;
}

.timer {
    float: right;
    margin: 1em 2em;
    color: var(--primary);
    font-size: 1.5em;
}

.main-content {
    width: 70%;
    margin: auto;
    text-align: center;
    letter-spacing: .1em;
}

button {
    color: var(--tertiary);
    background-color: var(--primary);
    display: inline-block;
    font-size: 1.5em;
    margin: 2em .5em;
    padding: .5em; 
    border-radius: .5em;
}

.question {
    margin: .5em auto;
    font-size: 2em;
    font-weight: 800;
    color: var(--primary);
}

.choice {
    color: var(--tertiary);
    background-color: var(--primary);
    margin: .5em 1em;
    padding: .5em;
}

.choice:hover {
    opacity: 50%;
}

.quizcontent {
    display:none;
    margin-top: -3em;
}

/* Mobile view. Ensures content remains clean and responsive.*/

@media (max-width: 1024px) {
}